<h1>New Recipe</h1>

<%= form_tag({action: 'create'}) %>
	<% Recipe.content_columns().each(function(column){ %>
	<p>
		<label><%= column.human_name() %></label><br />
		<%= input('Recipe', column.name) %>
	</p>
	<% }) %>
	<%= submit_tag('Create') %>
<%= form_tag_end() %>

<%= link_to('Back', {action: 'list'}) %>