<div id='controller_includes'>
<% for(var j=0; j<iter.length; j++) { %><span class='controller_include'><img style='visibility:hidden;' src='command/images/remove.png' />'<%= iter[j] %>'</span>,<% } %>
</div>