<div id='<%= type %>_includes'>
<% for(var j=0; j<iter.length; j++) { %>
	<span class='<%= type %>_include'>
		<img style='visibility:hidden;' src='command/images/remove.png' />'<%= iter[j] %>'</span><%if(end_with_comma || j!=iter.length-1){%>,<% } } %>
</div>