<h3>create application.</h3>
<form id='application_generator' class='indent'>application name: 
    <input name='application_name'/><input type='submit' value='create'/>
</form>
<br />
<div class='indent normal'>
    <h4>What's going to happen when you click create?</h4>
    <p>When you create an application, the following takes place:</p>
    <ul>
        <li>You will be asked to create an HTML file that loads this application.
            If you cancel, that's ok, you can create one later.
        </li>
        <li>An application folder and file will be created in the apps folder of
        the JavaScriptMVC download.</li>
        <li>Default compression and testing scripts will be added.</li>
    </ul>
    <h4>On naming</h4>
    <p>We suggest using a short, descriptive, project name.</p>
</div>