<h3>create application.</h3>
<form id='application_generator'>Create new application 
    <input name='application_name'/><input type='submit' value='create'/>
</form>
<br />
<p class='indent gray'>Creates an application's folder structure with default files.</p>