<h1><%= app_name %></h1>
<%	var included_groups = ['controllers','models','resources','views','functional_tests','unit_tests','plugins'];
	for(var i=0; i<included_groups.length; i++) { %>
	<h2><%= included_groups[i] %></h2>
	<ol>
		<% if(Included[included_groups[i]]) { %>
			<% for(var j=0; j<Included[included_groups[i]].length; j++) { %>
				<li><%= Included[included_groups[i]][j] %></li>
			<% } %>
		<% } %>
	</ol>
<%  }  %>