<h2>Welcome to organized, efficient, and maintainable JavaScript!</h2>
<p>The JavaScriptMVC Application Generator helps you get started.
    Follow these steps:
</p>

<ol>
   <li>Click <span style='font-size: 12pt;'>"+new"</span> above to create a new project.</li>
   <li>Name your project.</li>
   <li>Start adding and including files to your project.</li>
</ol>