<h1>Editing Category</h1>

<%= form_tag({action: 'update', id: category.id}) %>
	<% Category.content_columns().each(function(column){ %>
	<p>
		<label><%= column.human_name() %></label><br />
		<%= input('Category', column.name, {value: category[column.name]}) %>
	</p>
	<% }) %>
	<%= submit_tag('Edit') %>
<%= form_tag_end() %>

<%= link_to('Show', {action: 'show', id: category.id}) %> | 
<%= link_to('Back', {action: 'list'}) %>