body {font-family: verdana; margin: 0px; padding: 0px;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
}

td { width: 25%;}

#plugins{
	list-style-type: none;
	padding-left:16px;
}

ul#projects .over {
	color:Blue;
	text-decoration:underline;
	cursor:pointer;
}

h1 { font-size: 20px; margin: 0px; padding: 7px 0px 8px 20px;}

#application_navigation{
    height: 25px;
    margin-left: 20px;
    margin-top: 18px;
}

#application_navigation label {float: left; padding: 2px;}
#application_navigation ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none; 
    float: left;
    margin: 0px;
    padding: 0px;
}
#application_navigation li {display: block; float: left;
    padding: 2px 10px 2px 10px;
}

#application_navigation li.selected { 
    background-color: white;border: solid 1px #d8d8d8;
    padding-top: 1px;
    border-bottom: none;
}
#content {font-size: 10pt;}

p {margin-top: 0px;}

.indent {padding-left: 20px;}
.gray {color: gray}
.left {float: left;}
.clear {clear: both}
h3 {
    color: green; 
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

.includes {float: left;}
.includes img { cursor:pointer; }

#model_generator select {
	width:100px;
}

h4 {color: green; float: left;font-weight: normal;
    margin: 0px 0px 10px 0px;
}
.normal h4 {float: none;}
.include_type {margin-bottom: 20px; font-size: 12pt;}
.include_type form {position: relative; top: -2px;display:inline; }
.include_type form input {font-size: 10pt; padding: 0px;}
.include_type p {font-size: 10pt;}
.include_type form input.text {width: 100px;}

.include_type form span {position: relative; top: -1px;}

.include_type table {margin-bottom: 10px;}
.include_type table input {margin: 0px 10px 1px 0px;}

.generate {border: solid 1px gray; background-color: #DDDDDD; font-size: 10px; cursor: pointer}
.generate:hover {background-color: #D5E7B3}
.include_type select option {font-size: 10pt;}

select {line-height: 8px; border: solid 1px #809DB9 ;}